import java.util.Scanner;

class TelephoneCall {
  
  public static void main(String args[]) {
    
    Scanner input = new Scanner(System.in());
    
    double time;
    final double FLAT_RATE = 2;
    final doble LONG = 0.4;
    final double SHORT = 0.5;
  }
}
