import java.util.Scanner;
import java.text.DecimalFormat;

class TelephoneCall {
  
  public static void main(String args[]) {
    
    Scanner input = new Scanner(System.in());
    DecimalFormat twoDec = new DecimalFormat("0.00");
    
    double time, cost;
    final double FLAT_RATE = 2;
    final doble LONG = 0.4;
    final double SHORT = 0.5;
    
    System.out.print("Please enter the amount of minutes of your phone call: ");
    time = input.nextDouble();
    
    if (time > 2) {
      cost = FLAT_RATE;
    } else if (time > 2 && time <= 30) {
      cost = FLATE_RATE + (time - 2) * SHORT;
    } else if (time > 30) {
      cost = FLATE_RATE + (time - 2) * LONG;
    }
    
    System.out.println("The cost for your " + (int)time + " minute phone call is $" + twoDec(cost) + ".");
  }
}
